.wrap {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	color: #fff;
	padding: 15px 0;
}

.header {
	width: 100%;
	color: #fff;
	background: #333;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
}

.title {
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.left {
	background: rgb(253, 73, 73);
	border-radius: 6px;
	font-size: 14px;
	padding: 10px;
	color: #fff;
	cursor: pointer;
}

.form {
	color: #fff;
	width: 100%;
	display: flex;
	align-items: center;
	background: rgb(51, 51, 51);
	justify-content: space-between;
	min-height: 80px;
	padding: 0 20px;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

.input {
	flex-grow: 1;
	height: 100%;
}

.input input {
	width: 100%;
	height: 100%;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
}

.button {
	text-align: center;
	margin-left: 30px;
}

.button input {
	cursor: pointer;
	color: #fff;
}

.messages {
	flex-grow: 1;
	width: 100%;
	color: #fff;
	font-size: 18px;
	background: rgb(35, 35, 35);
	padding: 32px;
	overflow-y: auto;
}

.emoji {
	width: 40px;
	cursor: pointer;
	position: relative;
}

.emoji img {
	vertical-align: middle;
}

.emojies {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100%;
}

.messages::-webkit-scrollbar {
	width: 0;
}

.messages::-webkit-scrollbar-thumb {
	background-color: #b0b0b0;
	border-radius: 10px;
}

.messages::-webkit-scrollbar-track {
	background-color: transparent;
}

.messages {
	scrollbar-width: thin;
	scrollbar-color: #b0b0b0 transparent;
}

.messages::-moz-scrollbar-thumb {
	background-color: #b0b0b0;
	border-radius: 10px;
}

.messages::-moz-scrollbar-track {
	background-color: transparent;
}

.deviceError {
	height: 100vh;
	display: none;
	align-items: center;
	justify-content: center;
	color: white;
	text-align: center;
	padding: 0 15px;
}

@media screen and (max-width: 960px) {
	.deviceError {
		display: flex;
	}

	.wrap {
		display: none;
	}
}
